/* here you can put your own css to customize and override the theme */
.page-header.navbar .page-logo .logo-default {
    margin: 11px 0 0;
    width: 150px;
}
.gView .control-label{
    font-weight: bold;
}

.expenseElements{
    display: none;
}

.admin-header-name{
    margin-top: 9px !important;
    color: white !important;
    font-weight: bold;
}

.help-block{
    color: red !important;
}

.page-content-white .user-page-title {
	padding-bottom: 20px !important;
	border-bottom: 1px solid #ccc;
	padding-left: 20px;
  }
  .newssticker-panel {
  	width: 100%;
  	background-color: #ccc;
  	color: red;
  	height: 30px;
  	vertical-align: middle;
  	line-height: 30px;
  }
